// grid
%p-rel {
  position: relative;
}

%p-abs {
  position: absolute;
}

%w-100 {
  width: 100%;
}

%h-100 {
  height: 100%;
}

%d-flex {
  display: flex;
}

%d-flex-al-ctr {
  align-items: center;
  display: flex;
}

// text
%hover-txt {
  &:hover {
    color: $clr-txt-event;
  }
}

%uppercase {
  text-transform: uppercase;
}

// event
%tr-pr {
  transition: .25s ease-in-out;
}

%pointer {
  cursor: pointer;
}

// pseudo
%content {
  content: '';
}
