// margin
%m-0 {
  margin: 0;
}

// padding
%p-0 {
  padding: 0;
}

// grid
%p-rel {
  position: relative;
}

%p-abs {
  position: absolute;
}

%w-100 {
  width: 100%;
}

%h-100 {
  height: 100%;
}

%d-none {
  display: none;
}

%d-flex {
  display: flex;
}

%d-flex-al-ctr {
  @extend %d-flex;
  align-items: center;
}

// text
%hover-txt {
  &:hover {
    color: $clr-txt-event;
  }
}

%uppercase {
  text-transform: uppercase;
}

%fw-500 {
  font-weight: 500;
}

%clr-white {
  color: $clr-white;
}

// event
%tr-pr {
  transition: .25s ease-in-out;
}

%pointer {
  cursor: pointer;
}

// pseudo
%content {
  content: '';
}

// other
%h-hdr-sdbr {
  height: rem(50px);
}

%br-0 {
  border: 0;
}

%brr-50 {
  border-radius: 50%;
}

%bg-none-br-0 {
  @extend %br-0;
  background: none;
}
