// grid
.mt-auto {
  @extend %mt-auto;
}

.mr-66 {
  margin-right: 66px;
}

.p-10 {
  padding: 10px;
}

.d-flex {
  @extend %d-flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-d-col {
  @extend %flex-d-col;
}

.align-ctr {
  @extend %align-ctr;
}

.jc-ctr {
  @extend %jc-ctr;
}

.jc-between {
  justify-content: space-between;
}

// text & fonts
.txt-ctr {
  @extend %txt-ctr;
}

.fw-500 {
  @extend %fw-500;
}

.ff-sec {
  @extend %ff-sec;
}

.fs-12 {
  @include font(12px, 18px);
}

.uppercase {
  @extend %uppercase;
}

// width & height
.w-100 {
  @extend %w-100;
}

.w-50 {
  @extend %w-50;
}

// colors
.br-darkest {
  border: 1px solid $clr-txt-sec;
}

.clr-darkest {
  @extend %clr-darkest;
}
