* {
  &,
  &::after,
  &::before {
    @extend %m-0;
    @extend %p-0;
    box-sizing: border-box;
  }

  &:focus {
    outline: none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @extend %d-flex;
  @extend %h-100;
  @include font(rem(14px), 1.5);
  background-color: $clr-bg-pr;
  color: $clr-txt-pr;
  font-family: $font-pr;
  font-weight: 400;
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

ul {
  list-style: none;
}

a {
  @extend %hover-txt;
  @extend %tr-pr;
  color: currentColor;
  text-decoration: none;
}

svg {
  fill: currentColor;
  height: 100%;
  width: 100%;
}

.main {
  @extend %w-100;
}

.visuallyhidden {
  @extend %p-0;
  @extend %p-abs;
  @extend %br-0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

.sprite {
  @extend %d-none;
}
