.card {
  @extend %bg-sec;
  border: 1px solid $clr-br-pr;

  &-header {
    @include font(14px, normal);
    border-bottom: 1px solid $clr-br-pr;
    color: $clr-txt-sec;
    padding: 18px 17px;
  }

  &-title {
    @extend %uppercase;
    @include font(14px, normal);
  }

  &-footer {
    border-top: 1px solid $clr-br-pr;
    padding: 8px 15px 8px 26px;
  }
}
