.card {
  @extend %bg-sec;
  border: 1px solid $clr-br-pr;

  &-header {
    @include font(rem(14px), normal);
    border-bottom: 1px solid $clr-br-pr;
    color: $clr-txt-sec;
    padding: rem(18px) rem(17px);
  }

  &-title {
    @extend %uppercase;
  }
}
