.jobs {
  @extend %p-rel;
  box-shadow: $bs-jobs;
  margin-left: rem(-3px);
  margin-top: rem(-7px);
  z-index: 0;

  &-btn {
    @extend %p-abs;
    @extend %d-flex-al-ctr;
    @extend %brr-50;
    @extend %tr-pr;
    background-color: $clr-bg-pr;
    border: 1px solid transparent;
    box-shadow: $bs-jobs-btn;
    height: rem(30px);
    right: rem(-15px);
    top: rem(37px);
    width: rem(30px);

    &:hover {
      border-color: $clr-br-pr;
      box-shadow: none;
    }
  }
}
