%pr-pl {
  padding-left: rem(22px);
  padding-right: rem(22px);
}

.sidebar {
  @extend %p-rel;
  @extend %d-flex;
  @extend %tr-pr;
  @extend %ov-h-ws-n;
  background-color: $clr-bg-side-body;
  border-right: 1px solid $clr-br-side;
  flex-direction: column;
  z-index: 1;

  * {
    flex-wrap: nowrap;
  }

  &.is-close {
    min-width: 0;
    width: 0;
  }

  &.is-open {
    min-width: rem(280px);
    width: rem(280px);
  }

  &-title {
    @extend %d-flex-al-ctr;
    @extend %uppercase;
    @extend %h-hdr-sdbr;
    @extend %fw-500;
    @extend %clr-white;
    @include font(rem(27px), rem(35.42px));
    background-color: $clr-bg-side-hdr;
    padding: 0 rem(37px);
  }

  &-search {
    input {
      @extend %fw-500;
      @extend %w-100;
      @extend %pr-pl;
      @include font(rem(12px), rem(35.42px));
      border-bottom: 1px solid $clr-br-side-s;
      padding-bottom: rem(11px);
      padding-top: rem(14px);

      &,
      &::placeholder {
        color: $clr-txt-sec;
      }

      &:hover,
      &:focus {
        border-color: $clr-bg-side-hdr;
      }
    }
  }

  &-footer {
    margin-top: auto;
  }

  &-progress {
    @extend %p-rel;
    @include font(rem(12px), normal);
    background-color: $clr-bg-side-run-pr;
    color: $clr-txt-sec;

    &-status {
      @extend %d-flex;
      @extend %p-rel;
      @extend %pr-pl;
      border-right: 1px solid $clr-br-side;
      padding-bottom: rem(5px);
      padding-top: rem(6px);
    }

    &-bar {
      @extend %p-abs;
      @extend %w-100;
      @extend %h-100;
      animation: sidebar-progress-bar 5s ease-in-out infinite;
      background-color: $clr-bg-side-run-sec;
    }

    &-left {
      margin-left: auto;
    }
  }

  &-status {
    @extend %h-hdr-sdbr;
    @extend %pr-pl;
    @extend %d-flex-al-ctr;
    background-color: $clr-bg-side-ftr;

    &-name {
      @extend %uppercase;
      @extend %clr-white;
      @include font(rem(22px), rem(35.42px));
      margin-right: auto;
    }

    &-btn {
      @extend %clr-white;
      @extend %d-flex-al-ctr-jc-ctr;
      @extend %uppercase;
      @extend %p-rel;
      @extend %tr-pr;
      @extend %brr-50;
      @include font(rem(8px), normal);
      border: 1px solid $clr-btn-sec;
      height: rem(24px);
      margin-left: rem(9px);
      width: rem(24px);

      &::before,
      &::after {
        @extend %content;
        @extend %p-abs;
        height: rem(6px);
        top: -2px;
      }

      &::before {
        right: 35%;
        width: rem(6px);
        z-index: 1;
      }

      &::after {
        @extend %tr-pr;
        @extend %brr-50;
        background-color: $clr-bg-side-ftr;
        right: 25%;
        width: rem(12px);
        z-index: 0;
      }

      &:hover {
        background-color: $clr-bg-sec;
        color: $clr-txt-event;

        &::after {
          background-color: transparent;
        }
      }

      &--on::before {
        background-color: $clr-status-on;
      }

      &--off::before {
        background-color: $clr-status-off;
      }
    }
  }
}


@keyframes sidebar-progress-bar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
