<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="./favicon.ico">
    <meta name="theme-color" content="#ffffff">

    <title><%= htmlWebpackPlugin.options.title %></title>

    <!-- Fonts & Styles -->
    <link rel="stylesheet" href="./fonts/Roboto/stylesheet.css">
    <link rel="stylesheet" href="./fonts/HelveticaNeueCyr/stylesheet.css">
</head>

<body>
    <%= require('html-loader!./html/sidebar.html') %>

    <main class="main">
        <%= require('html-loader!./html/header.html') %>
        <div class="content">
            <%= require('html-loader!./html/jobs.html') %>
            <%= require('html-loader!./html/indicators.html') %>
        </div>
        
    </main>

    <div id="sprite" class="sprite">
        <img inline src="./../src/assets/images/sprite.svg" alt="">
    </div>
</body>

</html>